<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src = "/hello.js"></script>
</head>
<body>
  <h1>Here are our users!</h1>
  <ul>

  </ul>
  <form class ="addUser" action="/add.json" method="POST">
    <p>
      <label for="user">
        <input type="text" name="user" id="user" autofocus>
      </label>
    </p>
    <p>
    <input type="submit" value="Add a user">
    </p>
  </form>
</body>
</html>